<div class="heading">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#"><span style="font-size: xx-large;color: green;">M</span>ovie<span style="font-size: xx-large;color: green;">T</span>ime</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home </a>
                </li>
                <li class="nav-item" *ngIf="!isLoggedIn && !isAdminLogged">
                    <a class="nav-link" routerLink="/register" >Register</a>
                </li>
              
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contactus" routerLinkActive="active">Contact us</a>
                </li>
             
                    <li class="nav-item" *ngIf="!isLoggedIn && !isAdminLogged">
                        <a class="nav-link" routerLink="/login" >Log in</a>
                    </li>

                    <li class="nav-item" *ngIf="isLoggedIn">
                        <a class="nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
                    </li>

                    <li class="nav-item" *ngIf="isLoggedIn">
                        <a class="nav-link" routerLink="/tickets" routerLinkActive="active">My Tickets</a>
                    </li>

                    <li class="nav-item" *ngIf="!isLoggedIn && !isAdminLogged">
                        <a class="nav-link" routerLink="/admin-login" routerLinkActive="active">Admin</a>
                    </li>
  
                    <<li class="nav-item" *ngIf="isAdminLogged">
                        <a class="nav-link" routerLink="/add-movie" >Add Movie</a>
                    </li> 

                    <li class="nav-item" *ngIf="isLoggedIn || isAdminLogged">
                        <a class="nav-link" href="">Log Out</a>
                    </li>
                   
            </ul>
            <!-- <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
        </div>
    </nav>

</div>
