<div class="d-flex flex-row flex-wrap p-4 mt-4 bg-dark text-white ">
    <div class="social-media ml-4">
      <h3 class="text-center">Social media</h3>
      <ul class="list mt-4">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-telegram"></i></a></li>
      <li><a href="#"><i class="fa fa-youtube"></i></a></li>
      <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
    </ul>
  </div>
<div class="contact-us ml-auto mr-4">
  <h3 class="text-center">Contact us</h3>
  <ul>
<li><i class="fa fa-map-marker" aria-hidden="true">Pune</i></li>
<li><i class="fa fa-phone" aria-hidden="true">+918787886919</i></li>
<li><i class="fa fa-envelope" aria-hidden="true">Contact us @admin.com</i></li>
</ul>
</div>
</div>
<div class="copyright text-center text-white">
  Copyright &copy: MonieTime 2021. All rights reserved.
</div>
