<!-- <div>
    <h1><b><i>Update Movie</i></b></h1>
    <form>
        <div class="form-group">
          <label for="movieName">Movie Name</label>
          <input type="text" class="form-control" id="movieName" name="movieName" placeholder="name@example.com" [(ngModel)]="movieDetails.movieName">
     </div>
     <div class="form-group">
        <label for="language">Language</label>
        <input type="text" class="form-control" id="language" name="language" placeholder="name@example.com" [(ngModel)]="movieDetails.language">
    </div>
    <div class="form-group">
        <label for="amount">Amount</label>
        <input type="number" class="form-control" id="amount" name="amount"placeholder="name@example.com" [(ngModel)]="movieDetails.amount">
    </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" name="description" rows="3" [(ngModel)]="movieDetails.description"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" (click)="updateMovie()">Update Movie</button>
        </div>
      </form>
    </div> -->
