<header></header>

<div class="row gutters-sm" >
    <div class="col-md-4">
      <div class="card" style="height: 100%;">
        <div class="card-body">
          <div class="d-flex flex-column align-items-center text-center">
            <img src="assets/images/avatar7.png" alt="Admin" class="rounded-circle" width="150">
            <div class="mt-3">
              <h4>{{getUser.fname}}</h4>
              <p class="text-warning mb-1 "><b>Premium Member</b></p>
              <p class="text-muted font-size-sm">{{getUser.email}}</p>
              <p class="text-muted font-size-sm">{{getUser.phone}}</p>
              <button class="btn btn-primary mb-2">Premium</button>
              <button class="btn btn-outline-primary mb-2">Normal</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <h6 class="mb-0">First name</h6>
                    </div>
                    <div class="form-group col-sm-9 text-secondary">
                        <input type="text" class="form-control" name="fname" value="{{getUser.fname}}" [(ngModel)]="getUser.fname">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Last Name</h6>
                    </div>
                    <div class="form-group col-sm-9 text-secondary">
                        <input type="text" class="form-control" name="lname" value="{{getUser.lname}}" [(ngModel)]="getUser.lname">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Gender</h6>
                    </div>
                    <div class="form-group col-sm-9 text-secondary">
                        <input type="text" class="form-control" name="gender" value="{{getUser.gender}}" [(ngModel)]="getUser.gender">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-group col-sm-3">
                        <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="form-group col-sm-9 text-secondary">
                        <input type="text" class="form-control" name="email" value="{{getUser.email}}" [(ngModel)]="getUser.email">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="form-group col-sm-9 text-secondary">
                        <input type="text" class="form-control" name="phone" value="{{getUser.phone}}" [(ngModel)]="getUser.phone">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Password</h6>
                    </div>
                    <div class="form-group col-sm-9 text-secondary">
                        <input type="text" class="form-control" name="password" value="{{getUser.password}}" [(ngModel)]="getUser.password">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="form-group col-sm-9 text-secondary">
                        <button type="submit" class="btn btn-primary px-4" (click)="updateUser()" >Save Changes</button>
                    </div>
                </div>
            </div>
        </div>
      </div>
   

