.cbg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) !important;
     background-size: cover;
     background-position: center;
  }
  .qte{
    text-align: center;
    color:white;
  }
  .adrs li{
      display: flex;
      justify-content:center;
      align-items:center;
      padding-bottom: 12px;
  }
  .adrs li i{
    font-size: 20px;
  }
  .footercolor{
    background-color: midnightblue;
    color: white;
  }


  /* url("./assets/images/tnkng.jpg")  */