<header></header>
<main role="main">
    <div>
            <section class="jumbotron text-center"  style="background-image: url(./assets/images/cinema-hall.jpg);height: 320px;">
            
            </section>
        </div>
    
            <div class="album py-5 bg-light">
                <div class="container">
    
                    <div class="row">
                        <div class="col-md-4" *ngIf = "!isShow1">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="assets/images/img1.jpg" alt="Card image cap">
                                <div class="card-body" style="position: relative;">
                                    <p class="card-text">Tiger Zinda Hai is a 2017 Indian action thriller espionage film directed by Ali Abbas Zafar and co-written with Neelesh Misra.</p>
                                    <div class="d-flex justify-content-between align-items-center m-3" style="position: absolute;left: 0;bottom: 0;width: 90%;" >
                                        <ng-container *ngIf="isLoggedIn; else newButton">
                                            <button class="btn" type="submit" (click)=book1()  style="background-color: #343a40;color: white">Book</button>
                                              </ng-container>
                                              <ng-template #newButton>
                                                <ng-container *ngIf="temp; else loginButton">
                                                    <button class="btn"  (click)=toggle1()  style="background-color: #343a40;color: white">Delete</button>
                                                    </ng-container>
                                                    <ng-template #loginButton>
                                                <button class="btn" style="background-color: #343a40">
                                                    <a routerLink="/login" style="text-decoration: none;color: white;">Book Ticket</a>
                                                </button>
                                            </ng-template>
                                        </ng-template>
                                        <small class="text-muted" style="float: right;">3 hrs</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" *ngIf = "!isShow2">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="assets/images/img2.jpg" alt="Card image cap">
                                <div class="card-body" style="position: relative;">
                                    <p class="card-text">2.0 is a 2018 Indian Tamil-language science fiction action film written and directed by S. 
                                        Shankar, and co-written by B. Jeyamohan.</p>
                                        <div class="d-flex justify-content-between align-items-center m-3" style="position: absolute;left: 0;bottom: 0;width: 90%;" >
                                            <ng-container *ngIf="isLoggedIn; else newButton">
                                                <button class="btn" type="submit" (click)=book2()  style="background-color: #343a40;color: white">Book</button>
                                                  </ng-container>
                                                  <ng-template #newButton>
                                                    <ng-container *ngIf="temp; else loginButton">
                                                        <button class="btn"  (click)=toggle2()  style="background-color: #343a40;color: white">Delete</button>
                                                        </ng-container>
                                                        <ng-template #loginButton>
                                                    <button class="btn" style="background-color: #343a40">
                                                        <a routerLink="/login" style="text-decoration: none;color: white;">Book Ticket</a>
                                                    </button>
                                                </ng-template>
                                            </ng-template>
                                        <small class="text-muted" style="float: right;">3 hrs</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" *ngIf = "!isShow3">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="assets/images/img3.jpg" alt="Card image cap">
                                <div class="card-body" style="position: relative;">
                                    <p class="card-text">Baazaar is a 2018 Indian Hindi-language thriller drama film directed by Gauravv K. </p>
                                    <div class="d-flex justify-content-between align-items-center m-3" style="position: absolute;left: 0;bottom: 0;width: 90%;" >
                                        <ng-container *ngIf="isLoggedIn; else newButton">
                                            <button class="btn" type="submit" (click)=book3()  style="background-color: #343a40;color: white">Book</button>
                                              </ng-container>
                                              <ng-template #newButton>
                                                <ng-container *ngIf="temp; else loginButton">
                                                    <button class="btn"  (click)=toggle3()  style="background-color: #343a40;color: white">Delete</button>
                                                    </ng-container>
                                                    <ng-template #loginButton>
                                                <button class="btn" style="background-color: #343a40">
                                                    <a routerLink="/login" style="text-decoration: none;color: white;">Book Ticket</a>
                                                </button>
                                            </ng-template>
                                        </ng-template>
                                        <small class="text-muted" style="float: right;">3 hrs</small>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-md-4" *ngIf = "!isShow4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="assets/images/img4.jpg" alt="Card image cap">
                                <div class="card-body" style="position: relative;">
                                    <p class="card-text">Bloodshot is a 2020 American superhero film based on the Valiant Comics character of the same name.</p>
                                    <div class="d-flex justify-content-between align-items-center m-3" style="position: absolute;left: 0;bottom: 0;width: 90%;" >
                                        <ng-container *ngIf="isLoggedIn; else newButton">
                                            <button class="btn" type="submit" (click)=book4()  style="background-color: #343a40;color: white">Book</button>
                                              </ng-container>
                                              <ng-template #newButton>
                                                <ng-container *ngIf="temp; else loginButton">
                                                    <button class="btn"  (click)=toggle4()  style="background-color: #343a40;color: white">Delete</button>
                                                    </ng-container>
                                                    <ng-template #loginButton>
                                                <button class="btn" style="background-color: #343a40">
                                                    <a routerLink="/login" style="text-decoration: none;color: white;">Book Ticket</a>
                                                </button>
                                            </ng-template>
                                        </ng-template>
                                        <small class="text-muted" style="float: right;">3 hrs</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" *ngIf = "!isShow5">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="assets/images/img5.jpg" alt="Card image cap">
                                <div class="card-body" style="position: relative;">
                                    <p class="card-text">Crisis is a 2021 crime thriller film written, produced and directed by Nicholas Jarecki. </p>
                                    <div class="d-flex justify-content-between align-items-center m-3" style="position: absolute;left: 0;bottom: 0;width: 90%;" >
                                        <ng-container *ngIf="isLoggedIn; else newButton">
                                            <button class="btn" type="submit" (click)=book5()  style="background-color: #343a40;color: white">Book</button>
                                              </ng-container>
                                              <ng-template #newButton>
                                                <ng-container *ngIf="temp; else loginButton">
                                                    <button class="btn"  (click)=toggle5()  style="background-color: #343a40;color: white">Delete</button>
                                                    </ng-container>
                                                    <ng-template #loginButton>
                                                <button class="btn" style="background-color: #343a40">
                                                    <a routerLink="/login" style="text-decoration: none;color: white;">Book Ticket</a>
                                                </button>
                                            </ng-template>
                                        </ng-template>
                                        <small class="text-muted" style="float: right;">3 hrs</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" *ngIf = "!isShow6">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="assets/images/img6.jpg" alt="Card image cap">
                                <div class="card-body" style="position: relative;">
                                    <p class="card-text">Joker is a 2019 American psychological thriller film based on the DC Comics character of the same name. 
                                        Directed and produced by Todd Phillip.</p>
                                        <div class="d-flex justify-content-between align-items-center m-3" style="position: absolute;left: 0;bottom: 0;width: 90%;" >
                                            <ng-container *ngIf="isLoggedIn; else newButton">
                                                <button class="btn" type="submit" (click)=book6()  style="background-color: #343a40;color: white">Book</button>
                                                  </ng-container>
                                                  <ng-template #newButton>
                                                    <ng-container *ngIf="temp; else loginButton">
                                                        <button class="btn"  (click)=toggle6()  style="background-color: #343a40;color: white">Delete</button>
                                                        </ng-container>
                                                        <ng-template #loginButton>
                                                    <button class="btn" style="background-color: #343a40">
                                                        <a routerLink="/login" style="text-decoration: none;color: white;">Book Ticket</a>
                                                    </button>
                                                </ng-template>
                                            </ng-template>
                                        <small class="text-muted" style="float: right;">3 hrs</small>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-md-4" *ngIf = "!isShow7">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="assets/images/img7.jpg" alt="Card image cap">
                                <div class="card-body" style="position: relative;">
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                        <div class="d-flex justify-content-between align-items-center m-3" style="position: absolute;left: 0;bottom: 0;width: 90%;" >
                                            <ng-container *ngIf="isLoggedIn; else newButton">
                                                <button class="btn" type="submit" (click)=book7()  style="background-color: #343a40;color: white">Book</button>
                                                  </ng-container>
                                                  <ng-template #newButton>
                                                    <ng-container *ngIf="temp; else loginButton">
                                                        <button class="btn"  (click)=toggle7()  style="background-color: #343a40;color: white">Delete</button>
                                                        </ng-container>
                                                        <ng-template #loginButton>
                                                    <button class="btn" style="background-color: #343a40">
                                                        <a routerLink="/login" style="text-decoration: none;color: white;">Book Ticket</a>
                                                    </button>
                                                </ng-template>
                                            </ng-template>
                                        <small class="text-muted" style="float: right;">3 hrs</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" *ngIf = "!isShow8">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="assets/images/img8.jpg" alt="Card image cap">
                                <div class="card-body" style="position: relative;">
                                    <p class="card-text">Master is a 2021 Indian Tamil-language action thriller film written and directed by Lokesh Kanagaraj. Produced by Xavier Britto.</p>
                                    <div class="d-flex justify-content-between align-items-center m-3" style="position: absolute;left: 0;bottom: 0;width: 90%;" >
                                        <ng-container *ngIf="isLoggedIn; else newButton">
                                            <button class="btn" type="submit" (click)=book8()  style="background-color: #343a40;color: white">Book</button>
                                              </ng-container>
                                              <ng-template #newButton>
                                                <ng-container *ngIf="temp; else loginButton">
                                                    <button class="btn"  (click)=toggle8()  style="background-color: #343a40;color: white">Delete</button>
                                                    </ng-container>
                                                    <ng-template #loginButton>
                                                <button class="btn" style="background-color: #343a40">
                                                    <a routerLink="/login" style="text-decoration: none;color: white;">Book Ticket</a>
                                                </button>
                                            </ng-template>
                                        </ng-template>
                                        <small class="text-muted" style="float: right;">3 hrs</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" *ngIf = "!isShow9" >
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="assets/images/img9.jpg" alt="Card image cap">
                                <div class="card-body" style="position: relative;">
                                    <p class="card-text">NGK (an abbreviation for Nandha Gopalan Kumaran) is a 2019 Indian Tamil-language political action film written and directed by Selvaraghavan.</p>
                                    <div class="d-flex justify-content-between align-items-center m-3" style="position: absolute;left: 0;bottom: 0;width: 90%;" >
                                        <ng-container *ngIf="isLoggedIn; else newButton">
                                            <button class="btn" type="submit" (click)=book9()  style="background-color: #343a40;color: white">Book</button>
                                              </ng-container>
                                              <ng-template #newButton>
                                                <ng-container *ngIf="temp; else loginButton">
                                                    <button class="btn"  (click)=toggle9()  style="background-color: #343a40;color: white">Delete</button>
                                                    </ng-container>
                                                    <ng-template #loginButton>
                                                <button class="btn" style="background-color: #343a40">
                                                    <a routerLink="/login" style="text-decoration: none;color: white;">Book Ticket</a>
                                                </button>
                                            </ng-template>
                                        </ng-template>
                                       
                                        <small class="text-muted" style="float: right;">3 hrs</small>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>


                       <div class="col-md-4" *ngIf = "movieInfo" >
                            <div class="card mb-4 box-shadow new">
                                <img class="card-img-top" src="assets/images/blank.jpg" alt="Card image cap">
                                <div class="card-body" style="position: relative;">
                                    <h4><b>Name: {{movieDetails.movieName}}</b> </h4>
                                    <h5>Language : {{movieDetails.language}}</h5>
                                    <h5>Price: {{movieDetails.amount}}</h5>
                                    <p class="card-text">{{movieDetails.description}}</p>
                                    <div class="d-flex justify-content-between align-items-center m-3" style="position: absolute;left: 0;bottom: 0;width: 90%;" >
                                        <ng-container *ngIf="isLoggedIn; else newButton">
                                            <button class="btn" type="submit" (click)=book1()  style="background-color: #343a40;color: white">Book</button>
                                              </ng-container>
                                              <ng-template #newButton>
                                                <ng-container *ngIf="temp; else loginButton">
                                                    <button class="btn"  (click)=toggle10()  style="background-color: #343a40;color: white">Delete</button>
                                                    <button class="btn"  (click)=updateMovie()  style="background-color: #343a40;color: white">update</button>
                                                    </ng-container>
                                                    <ng-template #loginButton>
                                                <button class="btn" style="background-color: #343a40">
                                                    <a routerLink="/login" style="text-decoration: none;color: white;">Book Ticket</a>
                                                </button>
                                            </ng-template>
                                        </ng-template>
                                       
                                        <small class="text-muted" style="float: right;">3 hrs</small>
                                    
                                    </div>
                                </div>
                            </div>
                        </div> 


                    </div>
                </div>
            </div>
    
        </main>

        <footer></footer>

        <!-- type="submit" (click)=updateMovie() -->