<header></header>

<main role="main">
    <div>
            <section class="jumbotron text-center"  style="background-color: #9e9e9e;">
                <div class="container">
                    <h1 class="jumbotron-heading" style="color:  #800020;">Need to book seat for you and your partner ?</h1>
                    <p class="lead text-muted">Click here to grab your seat as soon as possible to find some space for you and your love partner .!.</p>
                    <p>
                        <a href="#" class="btn my-2" style="background-color: #343a40;color: white;">Book your Seat</a>
                    </p>
                </div>
            </section>
        </div>
    
            <div class="album py-5 bg-light">
                <div class="container">
    
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="assets/images/img1.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <button class="btn" style="background-color: #343a40;color: white;">Book Ticket</button>
                                        <small class="text-muted">3 hrs</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="assets/images/img2.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <button class="btn" style="background-color: #343a40;color: white;">Book Ticket</button>
                                        <small class="text-muted">3 hrs</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="assets/images/img3.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <button class="btn" style="background-color: #343a40;color: white;">Book Ticket</button>
                                        <small class="text-muted">3 hrs</small>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="assets/images/img4.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <button class="btn" style="background-color: #343a40;color: white;">Book Ticket</button>
                                        <small class="text-muted">3 hrs</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="assets/images/img5.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <button class="btn" style="background-color: #343a40;color: white;">Book Ticket</button>
                                        <small class="text-muted">3 hrs</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="assets/images/img6.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <button class="btn" style="background-color: #343a40;color: white;">Book Ticket</button>
                                        <small class="text-muted">3 hrs</small>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="assets/images/img7.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <button class="btn" style="background-color: #343a40;color: white;">Book Ticket</button>
                                        <small class="text-muted">3 hrs</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="assets/images/img8.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <button class="btn" style="background-color: #343a40;color: white;">Book Ticket</button>
                                        <small class="text-muted">3 hrs</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="assets/images/img9.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <button class="btn" style="background-color: #343a40;color: white;">Book Ticket</button>
                                        <small class="text-muted">3 hrs</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
        </main>

        <footer></footer>