.left{
    
    float:left;
    width: 40%;
    margin-left: 100px;
}
.right{
    
    float:right;
    width:40%;
    padding: 1px;
}

.body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("src\assets\images\seats.jpg");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: floralwhite;
  padding-bottom: 150px;
}

/* .field{
    background-color: lightskyblue;
} */